<app-main-nav-owner>
  <h1 align="center">"Project Name"</h1>

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="title">
        <mat-card-subtitle>Project Name</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
      <mat-card>
        <mat-card-content>
          <img mat-card-image src="https://th.bing.com/th/id/OIP.axQ9WpnpbJ1fkxWF8mEZlgHaEv?pid=ImgDet&rs=1">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="objectives">
        <mat-card-subtitle>Project Objective</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <mat-card>
        <mat-card-content>
          Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
  <div >
    <button class="final" mat-raised-button color="black" routerLink="/owner/projectProgress" routerLinkActive="active">BACK</button>
    <button class="final" mat-raised-button color="black"  routerLinkActive="active">BUDGET</button>
  </div>
</app-main-nav-owner>

