<h1>Payment Method</h1>

<div mat-dialog-content>
<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile>
    <h2>Card Company</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-select value=1>
        <mat-option value=1>Visa</mat-option>
        <mat-option value=2>MasterCard</mat-option>
        <mat-option value=3>Dinners</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <h2>Card Holder Name</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <h2>Card Number</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <h2>EXP Date</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>CVV</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>Label</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
</div>


<mat-grid-list cols="2">
  <mat-grid-tile>
    <button mat-button color="primary" [mat-dialog-close]="true">BACK</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button color="primary">ADD</button>
  </mat-grid-tile>
</mat-grid-list>
