<app-main-nav-contractor>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Keyword</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>
  <button mat-raised-button color="primary">SEARCH</button>



  <mat-grid-list cols="6" rowHeight="1:1" gutterSize="20px">
    <mat-grid-tile colspan="3">
      <mat-card>
        <mat-card-title>Project Information #1</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</mat-card-content>
        <mat-card-actions align="end"> <button mat-button color="primary" routerLink="/contractor/profileProjectOwner" >LOOK</button></mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <img mat-card-image src="../../../assets/cocina%20remodealo.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <mat-card>
        <mat-card-title>Project Information #2</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</mat-card-content>
        <mat-card-actions align="end"> <button mat-button color="primary" routerLink="/contractor/profileProjectOwner" >LOOK</button></mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <img mat-card-image src="../../../assets/cocina%20remodealo.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <mat-card>
        <mat-card-title>Project Information #3</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</mat-card-content>
        <mat-card-actions align="end"> <button mat-button color="primary"  routerLink="/contractor/profileProjectOwner">LOOK</button></mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <img mat-card-image src="../../../assets/cocina%20remodealo.jpg">
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <button class="final" mat-raised-button color="black" routerLink="/contractor/ownerProfile" routerLinkActive="active">BACK</button>
    </mat-grid-tile>


  </mat-grid-list>

</app-main-nav-contractor>
