<app-main-nav-owner>
<h1 align="center"> Ongoing Projects</h1>

<mat-grid-list cols="3" rowHeight="500px" gutterSize="20px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
      <mat-card-title>Project #1</mat-card-title>
      </mat-card-header>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</mat-card-content>
      <img mat-card-image src="../../../assets/Jardin1.jpg">
      <mat-card-actions fxLayoutAlign="center">
        <button mat-button>SELECT</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Project #1</mat-card-title>
      </mat-card-header>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</mat-card-content>
      <img mat-card-image src="../../../assets/Jardin1.jpg">
      <mat-card-actions fxLayoutAlign="center">
        <button mat-button>SELECT</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Project #1</mat-card-title>
      </mat-card-header>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</mat-card-content>
      <img mat-card-image src="../../../assets/Jardin1.jpg">
      <mat-card-actions fxLayoutAlign="center">
        <button mat-button>SELECT</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</app-main-nav-owner>
