<app-main-nav-owner>
<h1 align="center">Payment Methods</h1>

<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile>
    <img mat-card-image src="assets/visa.png" width="100px" height="80px">
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>Payment Method #1</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button (click)="openDialog()" ><mat-icon>edit</mat-icon></button>
  </mat-grid-tile>
  <mat-grid-tile>
    <img mat-card-image src="assets/mastercard.png" width="100px" height="80px">
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>Payment Method #2</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button (click)="openDialog()" ><mat-icon>edit</mat-icon></button>
  </mat-grid-tile>
  <mat-grid-tile>
    <img mat-card-image src="assets/visa.png" width="100px" height="80px">
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>Payment Method #3</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button (click)="openDialog()" ><mat-icon>edit</mat-icon></button>
  </mat-grid-tile>
  <mat-grid-tile>
    <img mat-card-image src="assets/dinners.png" width="100px" height="50px">
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>Payment Method #4</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button (click)="openDialog()" ><mat-icon>edit</mat-icon></button>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <button mat-button (click)="openDialog()" >ADD</button>
  </mat-grid-tile>
</mat-grid-list>

<div fxLayoutAlign="center">
  <button mat-button fxLayoutAlign="center" routerLink="/owner/configuration">BACK</button>
</div>

</app-main-nav-owner>




