
<div class="content">
  <mat-card class="mat-elevation-z4">
    <img class="img-logo" src="assets/constructor.png">
    <br>
    <div class="but">
      <button class="btn-opcion" routerLink="/contractor/registerContractor" mat-raised-button color="primary">Contractor</button>
    </div>
    <br>
  </mat-card>
  <mat-divider vertical class ="divider"></mat-divider>

  <mat-card class="mat-elevation-z4">
    <br>
    <img class="img-logo" src="assets/house.png" alt="house">
    <div class="but">
      <button  class="btn-opcion" routerLink="/owner/registerOwner" mat-raised-button color="primary">Owner</button>
    </div>
  </mat-card>
</div>

